<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createRoleModal" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div #modalContent class="modal-content">

      <form *ngIf="active" #createRoleForm="ngForm" id="frm_create_role" novalidate (ngSubmit)="save()">

        <div class="modal-header">
          <h5 class="modal-title">
            <span>{{l("CreateNewRole")}}</span>
          </h5>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#role-info" role="tab" aria-expanded="true">
                Role Info
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#role-permissions" role="tab" aria-expanded="false">
                Role Permissions
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active animated fadeIn" id="role-info" role="tabpanel">
              <div class="form-group">
                <label for="rolename" class="form-label">{{l("RoleName")}}</label>
                <input id="rolename" type="text" name="RoleName" [(ngModel)]="model.name" required maxlength="32" minlength="2" class="validate form-control">
              </div>
              <div class="form-group">
                <label for="displayname" class="form-label">{{l("DisplayName")}}</label>
                <input id="displayname" type="text" name="DisplayName" [(ngModel)]="model.displayName" required maxlength="32" minlength="2"
                  class="validate form-control">
              </div>
              <div class="form-group">
                <label for="role-description" class="form-label">{{l("RoleDescription")}}</label>
                <textarea id="role-description" name="Description" [(ngModel)]="model.description" class="validate form-control"></textarea>
              </div>
            </div>
            <div class="tab-pane animated fadeIn" id="role-permissions" role="tabpanel">
              <div class="row">
                <div class="col-sm-12">
                  <m-jstree [emptyText]="l('暂无权限')" [config]="treeConfig"></m-jstree>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
          </button>
          <button [disabled]="!createRoleForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
